
# Created by https://www.toptal.com/developers/gitignore/api/vscode,dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,dotnetcore

### DotnetCore ###
# .NET Core build folders
bin/
obj/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/
# End of https://www.toptal.com/developers/gitignore/api/vscode,dotnetcore
